body {
 
  background: #cddcec;

}

.nav {
  background: #64a7de;
  margin-bottom: 6vh;
}

.nav a {
  color: #fff;
  
}

form.container {
  background: rgba(255, 255, 255, 0);
}

.form-control{
 font-size: 0.9rem;

}

label{
  font-size: 0.8rem;

}

.card {
  margin-bottom: 3vh;
  background: rgb(248, 252, 255);
  border-radius: 0px;
 

}

.noborder {
  box-shadow: none;
  border-radius: 0px;
  font-size: 0.85rem;
  padding: 10px;
  
  
}

.card-header {
  background: #c1c806;
}

.inner-form {
  padding: 2vh;
  background: rgb(248, 252, 255);
 
}

.label {
  font-weight: 600;
}

.error {
  font-size: 0.8rem;
  color: red;
}

.success-msg {
  margin: 5vh;
  justify-content: center;
  align-items: center;
  align-content: center;
}

hr{
  margin-bottom: -2vh;
  
}

.programme-label{
  color: rgb(5, 5, 168);
  font-weight: 600;
  
}